.main-nav__wrapper {
	display: none;
}
.main-nav {
	display: flex;
	justify-content: space-around;
	margin-top: 13px;
	padding-bottom: 7px;

}
.mai-nav__logo-link {
	display: block;
	background-image: url(../img/header/logo.svg);
	width: 100px;
	height: 24px;
}
.main-nav__toggle {
	border: none;
	background-color: transparent;
	cursor: pointer;
	width: 24px;
	height: 24px;
	margin: 0;
	padding: 0;
	margin-left: -20px;
}